<footer>
	<section>
		<img src="/images/me.jpg" alt="" title="Me">
		<p>
			My Name is Gianluca Troiani. I'm an engineer and a technologist at <a href="http://www.cnr.it/">National Research Council of Italy</a>. I'm a developer and a maker.
		</p>
		<p>I've also written <a href="http://www.apogeonline.com/libri/9788850333394/scheda">HTML5 il markup e le API</a>, <a href="http://www.apogeonline.com/libri/9788850332557/scheda">Responsive Web Design</a>, <a href="http://www.apogeonline.com/libri/9788850313914/scheda">CSS3</a>, <a href="http://www.apogeonline.com/libri/9788850313013/scheda">CSS</a>, <a href="http://www.apogeonline.com/libri/9788850324699/scheda">CSS Pocket</a>.</p>
		<p>On my work, hacks and tips.</p>
	</section>
</footer>