h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
	margin-top: 0;
    margin-bottom: $spacing-unit / 2;
}

ul,ol {
	margin-left: 1em;
	padding: 0;
	@media screen and (min-width: $break-large-tablet) {
		margin-left: 0;
	}
	li {
		margin-left: 0;
	}
}

* {
	font-family: $font_family;
}
html {
	font-size: 10px;
}
img {
	max-width: 100%;
	display: block;
}
a {
	transition: all 0.15s linear 0s;
	text-decoration: none;
	border-bottom: 0.3rem solid;
	&:link, &:visited {
		background: $white;
		color: $darkgrey;
		// border-bottom-color: $darkgrey;
	}
	&:hover, &:focus, &:active {
		background: $white;
		color: $black;
		// border-bottom-color: $black;
	}
}
body{
	margin: 0;
	padding: 0;
	font: $font_body_1_device;
	background: $primary_bg_color;
	color: $primary_fg_color;
	#content {
		background: $white;
		color: $black;
		padding: $spacing-unit 0;
		article {
			&:last-child {
				:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	@media screen and (min-width: $break-large-tablet) {
		font: $font_body_1;
	}
	> header {
		position: relative;
		z-index: 20;
		padding: $spacing-unit/2 0;
		@media screen and (min-width: $break-large-tablet) {
			padding: $spacing-unit 0;
		}
		// margin: 0 0 $spacing-unit 0;
		// box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
		li {
			vertical-align: bottom;
		}
		ul {
			li:first-child {
				display: block;
				margin-bottom: $spacing-unit/2;
				margin-right: 0;
				@media screen and (min-width: $break-large-tablet + 1px) {
					// display: inline-block;
					// margin-bottom: 0;
				}
			}
		}
		a {
			&:link,&:visited {
				color: $primary_lighten_color;
				// color: rgba(255,255,255,0.7);
				background: $primary_bg_color;
			}
			&:hover,&:focus,&:active {
				color: $white;
				// color: rgba(255,255,255,0.8);
				background: $primary_bg_color;
			}
		}
		nav {
			margin: 0 auto;
			padding: 0 $spacing-unit/2;
			box-sizing: border-box;
			@media screen and (min-width: $break-large-tablet) {
				padding: 0 $spacing-unit;
				max-width: $break-large-tablet;
			}
			text-transform: uppercase;
			font-size: 2rem;
			// font-weight: 300;
		}
		#motto {
			margin: $spacing-unit/2 auto;
			padding: 0 $spacing-unit/2;
			box-sizing: border-box;
			@media screen and (min-width: $break-large-tablet) {
				padding: 0 $spacing-unit;
				max-width: $break-large-tablet;
			}		
		}
		#social-links {
			margin: 0 auto;
			padding: 0 $spacing-unit/2;
			box-sizing: border-box;
			@media screen and (min-width: $break-large-tablet) {
				padding: 0 $spacing-unit;
				max-width: $break-large-tablet;
			}
			a {
				span {
					@include sr-only();
				}
			}
		}
	}
}
section {
	margin: 0 auto;
	padding: 0 $spacing-unit/2;
	box-sizing: border-box;
	@media screen and (min-width: $break-large-tablet) {
		padding: 0 $spacing-unit;
		max-width: $break-large-tablet;
	}
	header {
		h1 {
			text-transform: uppercase;
			font: $font_headline;
		}
	}
}
.post-meta {
	color: $gray;
}
time {
	@extend .post-meta;
}
ul.simplelist {
	// margin: $spacing-unit/2 0;
	padding: 0;
	list-style: none;
	li {
		margin: $spacing-unit/2 0 $spacing-unit/2 $spacing-unit;
		padding: 0;
	}
}
article {
	margin: 0 auto;
	padding: 0 $spacing-unit/2;
	box-sizing: border-box;
	@media screen and (min-width: $break-large-tablet) {
		padding: 0 $spacing-unit;
		max-width: $break-large-tablet;
	}
	h1 {
		font: $font_headline;
	}
	&.post-content {
		header {
			padding: 0;
			margin-bottom: $spacing-unit;
			h1 {
				margin: 0;
				font: $font_post_title;
			}
		}
	}
}
img.userphoto {
	display: block;
	border-radius: 100%;
}
hr {
	border: none;
	border-top:1px solid $lightgrey;
	margin: $spacing-unit auto;
	padding: 0;
	@media screen and (min-width: $break-large-tablet) {
		max-width: $break-large-tablet - 60px;
	}
}
nav {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin:0 $spacing-unit 0 0;
			display: inline-block;
			a {
				text-decoration: none;
				border-bottom: none;
			}
		}
	}
}
#social-links {
	li {
		list-style: none;
		margin:0 $spacing-unit/2 0 0;
		display: inline-block;
		a {
			text-decoration: none;
			border-bottom: none;
		}
	}	
}
#G{
	text-decoration: none;
	background: $white;
	color: $primary_bg_color;
	&[href] {
		&:link,&:visited {
			background: $primary_lighten_color;
			color: $primary_bg_color;
		}
		&:hover,&:focus,&:active {
			background: $white;
			color: $primary_bg_color;
		}		
	}
	// color: #FFF;
	display:block;
	height: 1.2em;
	width: 1.2em;
	// border: 0.1em solid;
	border: none;
	font-size: 9rem;
	line-height: 0.9em;
	// line-height: 1.5;
	// text-align: right;
	// font-weight: 100;
	// margin-bottom: 2rem;
	@media screen and (min-width: $break-large-tablet + 1px) {
		font-size: 4.667rem;
	}
	// @media screen and (width: $break-large-tablet) and (orientation: portrait) {
	// 	font-size: 7rem;
	// }
}
#Gg {
	display: none;
	@media screen and (min-width: $break-large-tablet + 200px) {
		display: block;
	}
	@extend #G;
	position: fixed;
	z-index: 10;
	top: $spacing-unit/2;
	left: $spacing-unit/2;
	color: $white !important;
	background: $primary_bg_color !important;
}
footer {
	background: $primary_bg_color;
	color: $primary_fg_color;
	padding: $spacing-unit 0;
	// margin: $spacing-unit*2 0 0 0;
	img {
		display: block;
		border-radius: 100%;
		width: 9.6rem;
		border: .3rem solid $primary_lighten_color;
		float: left;
	}
	a {

		&:link,&:visited {
			color: $primary_lighten_color;
			// color: rgba(255,255,255,0.7);
			background: $primary_bg_color;
			// border-bottom-color: $primary_lighten_color;
		}
		&:hover,&:focus,&:active {
			color: $white;
			// color: rgba(255,255,255,0.8);
			background: $primary_bg_color;
			// border-bottom-color: $primary_light_color;
		}
	}
	p {
		margin-left: 9.6rem + $spacing-unit;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.headline {
	font:$font_headline;
}

pre {
	font-size: 1em;
	font-family: monospace;
	line-height: 1.7;
	margin: 0;
}

#skip-to-content {
	@include sr-only-focusable();
}