h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
	margin-top: 0;
    margin-bottom: $spacing-unit / 2;
}

ul,ol {
	margin-left: 1em;
	padding: 0;
	@media screen and (min-width: $break-large-tablet) {
		margin-left: 0;
	}
	li {
		margin-left: 0;
	}
}

* {
	font-family: $font_family;
}
html {
	font-size: 10px;
}
img {
	max-width: 100%;
	display: block;
}
a {
	transition: all 0.15s linear 0s;
	//text-decoration: none;
	//border-bottom: 0.3rem solid;
	&:link, &:visited {
		background: $body_bg_color;
		color: $link_color;
	}
	&:hover, &:focus, &:active {
		background: $body_bg_color;
		color: $link_active_color;
	}
}
body{
	margin: 0;
	padding: 0;
	font: $font_body_1_device;
	background: $primary_bg_color;
	color: $primary_fg_color;
	#content {
		background: $body_bg_color;
		color: $primary_fg_color;
		padding: $spacing-unit 0;
		article {
			&:last-child {
				:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	@media screen and (min-width: $break-large-tablet) {
		font: $font_body_1;
	}
	> header {
		position: relative;
		z-index: 20;
		padding: $spacing-unit/2 0;
		@media screen and (min-width: $break-large-tablet) {
			padding: $spacing-unit 0;
		}
		li {
			vertical-align: bottom;
		}
		a {
			&:link,&:visited {
				color: $link_color;
				background: $primary_bg_color;
			}
			&:hover,&:focus,&:active {
				color: $link_active_color;
				background: $primary_bg_color;
			}
		}
		nav {
			margin: 0 auto;
			padding: 0 $spacing-unit/2;
			box-sizing: border-box;
			@media screen and (min-width: $break-large-tablet) {
				padding: 0 $spacing-unit;
				max-width: $break-large-tablet;
			}
			text-transform: uppercase;
			font-size: 2rem;
		}
		#motto {
			margin: $spacing-unit/2 auto;
			padding: 0 $spacing-unit/2;
			box-sizing: border-box;
			@media screen and (min-width: $break-large-tablet) {
				padding: 0 $spacing-unit;
				max-width: $break-large-tablet;
			}		
		}
		#social-links {
			margin: 0 auto;
			padding: 0 $spacing-unit/2;
			box-sizing: border-box;
			@media screen and (min-width: $break-large-tablet) {
				padding: 0 $spacing-unit;
				max-width: $break-large-tablet;
			}
			a {
				span {
					@include sr-only();
				}
			}
		}
	}
}
section {
	margin: 0 auto;
	padding: 0 $spacing-unit/2;
	box-sizing: border-box;
	@media screen and (min-width: $break-large-tablet) {
		padding: 0 $spacing-unit;
		max-width: $break-large-tablet;
	}
	header {
		h1 {
			text-transform: uppercase;
			font: $font_headline;
		}
	}
}
.post-meta {
	color: $primary_fg_light_color;
	margin-top: 3rem;
}
time {
	@extend .post-meta;
}
ul.simplelist {
	padding: 0;
	list-style: none;
	li {
		margin: $spacing-unit/2 0 $spacing-unit/2 $spacing-unit;
		padding: 0;
	}
}
article {
	margin: 0 auto;
	padding: 0 $spacing-unit/2;
	box-sizing: border-box;
	@media screen and (min-width: $break-large-tablet) {
		padding: 0 $spacing-unit;
		max-width: $break-large-tablet;
	}
	h1 {
		font: $font_headline;
	}
	&.post-content {
		header {
			padding: 0;
			margin-bottom: $spacing-unit;
			h1 {
				margin: 0;
				font: $font_post_title;
			}
		}
	}
}
img.userphoto {
	display: block;
	border-radius: 100%;
}
hr {
	border: none;
	border-top:1px solid $primary_fg_lighten_color;
	margin: $spacing-unit auto;
	padding: 0;
	@media screen and (min-width: $break-large-tablet) {
		max-width: $break-large-tablet - 60px;
	}
}
nav {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin:0 $spacing-unit 0 0;
			display: inline-block;
		}
	}
}
#social-links {
	li {
		list-style: none;
		margin:0 $spacing-unit/2 0 0;
		display: inline-block;
		a {
			text-decoration: none;
			border-bottom: none;
		}
	}	
}
footer {
	background: $primary_bg_color;
	color: $primary_fg_color;
	padding: $spacing-unit 0;
	img {
		display: block;
		border-radius: 100%;
		width: 9.6rem;
		border: .3rem solid $primary_fg_color;
		float: left;
	}
	a {

		&:link,&:visited {
			color: $link_color;
			background: $primary_bg_color;
		}
		&:hover,&:focus,&:active {
			color: $link_active_color;
			background: $primary_bg_color;
		}
	}
	p {
		margin-left: 9.6rem + $spacing-unit;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.headline {
	font:$font_headline;
}

pre {
	font-size: 1em;
	font-family: monospace;
	line-height: 1.7;
	margin: 0;
}

#skip-to-content {
	@include sr-only-focusable();
}
