$spacing-unit: 3rem;
$break-small-tablet: 600px;
$break-large-tablet: 768px;
$font_family: roboto, sans-serif;
$font_body_1: 400 1.3rem/1.4 $font_family;
$font_body_1_device: 400 1.4rem/1.4 $font_family;
$font_headline: 300 2.4rem $font_family;
$font_post_title: 300 4.5rem $font_family;
$white: #FDFDFD;
$lightgrey: #EEEEEE;
$gray: #666666;
$darkgrey: #444444;
$black: #222222;
$primary_fg_color: $white;
$primary_bg_color: #664C4B;
$primary_lighten_color: lighten( $primary_bg_color, 40% );
$primary_light_color: lighten( $primary_bg_color, 20% );
$primary_dark_color: darken( $primary_bg_color, 20% );
$primary_darken_color:  darken( $primary_bg_color, 50% );