$spacing-unit: 3rem;
$break-small-tablet: 600px;
$break-large-tablet: 768px;
$font_family: 'Titillium Web', sans-serif;
$font_body_1: 400 1.5rem/1.8 $font_family;
$font_body_1_device: 400 1.6rem/1.8 $font_family;
$font_headline: 300 2.4rem/1.8 $font_family;
$font_post_title: 300 4.5rem $font_family;
$body_bg_color: #FDFDFD;
$link_color: #333333;
$link_active_color: #000000;
$primary_fg_color: #333333;
$primary_fg_light_color: lighten( $primary_fg_color, 30% );
$primary_fg_lighten_color: lighten( $primary_fg_color, 50% );
$primary_bg_color: #ffde00;