$spacing-unit: 3rem;
$break-small-tablet: 600px;
$break-large-tablet: 768px;
$font_family: roboto, sans-serif;
$font_body_1: 400 1.3rem $font_family;
$font_body_1_device: 400 1.4rem $font_family;
$font_headline: 300 2.4rem $font_family;
$font_post_title: 300 4.5rem $font_family;
$primary_fg_color: #FFFFFF;
$primary_bg_color: #757575;
$primary_lighten_color: #E0E0E0;
$primary_light_color: #BDBDBD;
$primary_dark_color: #424242;
$primary_darken_color: #212121;